<html>
    <head>
        <style>
            body {background-color: powderblue;}
            h1   {color: darkslategrey;}
            a    {color: olivedrab;}
            </style>
    </head>
    <body>
        <h1>welcome to the character creator</h1>

        <a href="/submit">Click here to submit a character idea</a>
        <br>
        <a href="/char">And click here to see all the current submissions</a>
        

        <br><br><br>
        also don't forget to listen in when the sessions run
    </body>
</html>