<!doctype html>
<html>

<head>
    <style>
        body {background-color: powderblue;}
        h1   {color: darkslategrey;}
        a    {color: olivedrab;}
        </style>
</head>

<body>
    <h1>hi</h1>
    <table class="table table-dark" border="1">
        <thead>
            <td>Character Name</td>
            <td>Location</td>
        </thead>
        {% for row in rows %}
        <tr>
            <td>
                <a href="/char?id={{row["charid"]}}">
                    <div style="height:100%;width:100%">
                        {{row["name"]}}
                    </div>
                </a>
            </td>
            <td>{{row["location"]}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <a href="/">Go back to home page</a>
</body>

</html>